.angular-table {
	overflow-x: hidden;
	overflow-y: hidden;
	border: 1px solid #E1E1E1;
}
.angular-table-body {
	overflow-x: hidden;
	overflow-y: auto;
}
.angular-table-header {
	background: whiteSmoke;
	border-bottom: 1px solid #E1E1E1;
}
.angular-table-header-cell, .angular-table-row-cell {
	display: inline-block;
	padding: 8px 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.angular-table-header-cell {
	padding: 10px 12px;
	font-weight: bold;
	color: gray;
}
.angular-table-row {
	border-bottom: 1px solid #E1E1E1;
	&:hover {
		background: #FAFAFA;
	}
}
