@import "flexbox";

.angular-table {
	overflow-x: hidden;
	overflow-y: hidden;
	.flex-display;
	.flex-direction(column);
	-webkit-user-select: none;

	.flex {
		.flex(1);
	}
}
.angular-table-header {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	font-weight: bold;
	background-color: #fafafa;
	.flex-display;
}

.angular-table-header-center {
	overflow: hidden;
	.flex-display;
	border-right: 1px solid #eee;
}

.angular-table-cell {
	padding: 0 8px;
	border-right: 1px solid #eee;
	overflow: hidden;

	.icon {
		opacity: 0.5;
		margin: 2px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.angular-table-header-cell {
	padding-left: 0;
	padding-right: 4px;


	.angular-table-header-cell-content {
		padding-left: 8px;
		padding-right: 4px;
	}

	&.resizable {
		cursor: e-resize;
		.angular-table-header-cell-content {
			border-right: 1px solid #eee;
			cursor: default;
		}
	}

	&.resizing {
		background: #ddd;
		.angular-table-header-cell-content {
			background-color: #fcfcfc;
		}
	}


}

.angular-table-body {
	.flex(1);
	.flex-display;
}

.angular-table-header-left, .angular-table-header-right {
	overflow: hidden;
	.flex-display;
}

.angular-table-header-right {
	.angular-table-header-cell:nth-last-child(1) {
		cursor: default;
	}
}

.angular-table-header-center {
	.flex(1);
	.flex-display;
	overflow: hidden;
}
.angular-table-body-left, .angular-table-body-right {
	overflow: hidden;
	.flex-display;
}

.angular-table-body-center {
	.flex(1);
	.flex-display;
	position: relative;
	overflow: hidden;
}

.angular-table-body-cell {
	border-bottom: 1px solid #eee;

	&.hover {
		background-color: #fcfcfc;
	}

	&.selected {
		background-color: #5bc0de;
		color: white;
	}
}

