@import "flexbox";

.angular-table {
	overflow-x: hidden;
	overflow-y: hidden;
	.flex-display;
	.flex-direction(column);
}
.angular-table-header {
	border-bottom: 2px solid #eee;
	overflow: hidden;
	font-weight: bold;
	.flex-display;
}

.angular-table-header-center {
	overflow: hidden;
	.flex-display;
	border-right: 1px solid #eee;
}

.angular-table-body-left, .angular-table-body-right {
	overflow: hidden;
}


.angular-table-body-center {
	overflow: hidden;
	.flex(1);
	.flex-display;
	position: relative;
	border-right: 1px solid #eee;
}

.angular-table-cell {
	padding: 0 8px;
	border-right: 1px solid #eee;
	overflow: hidden;
	&.flex {
		.flex(1);
	}

	.icon {
		opacity: 0.5;
		margin: 2px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.angular-table-header-cell {

}

.angular-table-body {
	.flex(1);
	overflow: hidden;
	.flex-display;
}

.angular-table-body-inner {

}

.angular-table-body-row {
	white-space: nowrap;
	overflow: visible;
	.flex-display;
}

.angular-table-body-row-cell {
	border-bottom: 1px solid #eee;
}
