doctype html
html
  head
    //- dependencies
    script(src='js/jquery-2.1.1.min.js')
    script(src='js/angular.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/perfect-scrollbar.with-mousewheel.min.js')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/todc-bootstrap.min.css')
    link(rel='stylesheet', href='css/perfect-scrollbar.min.css')

    //- angular-table
    script(src='../angular-table.js')
    link(rel='stylesheet', href='../angular-table.css')

    //- demo app
    script(src='js/app.js')
    link(rel='stylesheet', href='css/app.css')

    title Angular Table
  body(ng-app='app', ng-controller='AppController')
    .data-table(angular-table='table')
