doctype html
html
  head
    script(src='js/jquery-2.1.1.min.js')
    script(src='js/angular.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/app.js')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/todc-bootstrap.min.css')
    title Angular Table
  body(ng-app='app', ng-controller='AppController')
    | {{ hello }}
